

  /*++++++++++++++++++++++++++++++++index.html+++++++++++++++++++++++++++++++++++++++*/

/*#logo{

}*/
header{
  margin-top: 25px;
  margin-left: 5px;
  width:100%;
  height:160px;
  background-color:rgba(252, 219, 219, 0.35);
  color:#fff;
  text-align: center;
}


  h1{
    width:100%;
    background-color: rgba(0,0,0,.75);
    color:#fff;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 34px;
  }

h2{
    color:#990033;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin-top: 15px;
}


.hoursofOperation,hr{
    font-family: Georgia, ;
    /*width:60%;*/

  }


  ul {
    font-family: Georgia;
/*    font-weight: bold;
*/    color:#000000;
  }

  li{
    width:55%;
    font-family: Georgia, ;
    margin:30px;
  }

  li:hover {
    color:#990033;
  }

  body{
   font-family: Arial,Verdana,Helvetica;
  background-image:url(img/Gaussian-Cookies.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}


  h3{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    font-weight: bold;
    color:#990033;
    width:45%;
  }

  p{
    font-family: arial;
  }



#locations{
  /*width:45%;*/
  margin:10px;
  padding: 10px;
  border:10px;
}

/*.fourFishs{
  float:right;
  vertical-align: top;
}*/

.box{
  border: 5px solid black;
  padding:6px;
  /*height:60%;*/
  float: right;
  /*display:inline-block;*/

}

#festivals{
  float: right;
  /*width:43%;*/
  background-color: rgba(20, 20, 16, 0.17);
}


article{
  /*display:inline-block;*/
  /*vertical-align: top;*/
}

#family{
  border:2px solid black;
  img: center;
}

footer{
    width:100%;
    background-color: rgba(0,0,0,.75);
    bottom:0;
    color:#fff;
    font-size: 20px;
    text-align:center;
    position: fixed;
  }
  /*----------------------STYLE GUIDE--------------------*/
#fontForegroundTile{
    background-color:#990033;
}

#headerRibbonTile{
    background-color:rgba(252, 219, 219, 0.35);
}

#headerbackgoundTile{
    background-color:rgba(0,0,0,.75);
}

#borderColorTile{
    background-color:rgba(0,0,0,.75);
}

.colorpalette{
  width:75px;
  height:75px;
  padding:30px;
  border:2px black;
  display: inline-block;
}
